<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Queues" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=" />
	</configSections>

	<Queues>
		<add key="call"  value="" />
		<add key="email" value="" />
		<add key="chat"  value="" />
	</Queues>

	<appSettings>
		<add key="clientId"             value=""/>
		<add key="clientSecret"         value=""/>

		<add key="tokenUserName"              value=""/>
		<add key="tokenPassword"              value="e@"/>
		<add key="tokenUrl"                   value="https://api.sti.digital/api/v1/Login"/>

		<add key="respondentsUrl"             value="https://api.sti.digital/api/v1/Respondents?eventId="/>

		<add key="eventIdCall"                value=""/>
		<add key="eventIdEmail"               value=""/>
		<add key="eventIdChat"                value=""/>

	</appSettings>
</configuration>
